page {
    background: #FCFDFE;
    overflow-x: hidden;
}

.home-container {
    overflow: hidden;
    .notice{
        padding: 0 30rpx;
        font-size: 26rpx;
        background-color: #FFFAE9 !important;
        color: #F96B0C !important;
        display: flex;
        align-items: center;
    }
    .l-title-class{
        color: red !important;
    }
    .top-area {
        position: relative;
        height: 413rpx;
        overflow: hidden;
        image{
            width: 100%;
        }
        .logo{
            position: absolute;
            left: 24rpx;
            bottom: 24rpx;
            width: 237rpx;
            height: 50rpx;
        }
        .share{
            position: absolute;
            right: 0;
            bottom: 26rpx;
            height: 51rpx;
            width: 95rpx;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 26rpx;
            padding: 0 20rpx;
            color: #fff;
            border-radius: 40rpx 0 0 40rpx;
            background: linear-gradient(to right,#39DC44,#28C632);
        }
    }

    .content-container {
        padding: 24rpx;

        .tip-area {
            display: flex;
            align-items: center;
            padding: 0 24rpx;
            height: 88rpx;
            background: #fff;
            border-radius: 10rpx;
            box-shadow: 0 0 10rpx rgba(0, 0, 0, 0.1);
            color: #666;
            font-size: 26rpx;
            justify-content: space-between;

            .tip-area-box{
                display: flex;
                align-items: center;
            }

            .tip-area-btn{
                color: #3964ED;
                border: 1px solid #3964ED ;
                border-radius: 30rpx;
                padding: 6rpx 15rpx;
            }

            .icon-horn {
                width: 32rpx;
                height: 32rpx;
                margin-right: 14rpx;
            }
        }

        .hot-loan-product {
            margin-top: 45rpx;

            .title {
                line-height: 30rpx;
                margin-bottom: 20rpx;
                font-size: 30rpx;
                color: #333;
                font-weight: 600;
            }

            .hot-loan-content {
                padding: 24rpx 30rpx;
                background: #fff;
                box-shadow: 0 0 20rpx rgba(0, 0, 0, 0.1);
                border-radius: 10rpx;

                .loan-top-area {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 26rpx;
                    font-weight: 500;

                    .more {
                        display: flex;
                        align-items: center;
                        color: #1F55EC;

                        image {
                            margin-left: 6rpx;
                            width: 26rpx;
                            height: 26rpx;
                        }
                    }
                }

                .center-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 40rpx 0 30rpx;
                    font-size: 30rpx;
                    color: #333;

                    .loan-money {
                        margin: 30rpx 0 30rpx 0;
                        color: #111;
                        font-size: 62rpx;
                        font-weight: 600;
                    }

                    .loan-rate {
                        color: #616772;
                        font-size: 26rpx;
                        font-weight: 500;
                    }

                    .btns {
                        margin-top: 50rpx;
                        width: 550rpx;
                        height: 80rpx;
                        border-radius: 40rpx;
                        background-color: #1F55EC;
                    }
                }
                .status-show{
                    background: #FFFEF3;
                    padding: 28rpx 42rpx;
                    margin-bottom: 38rpx;
                    font-size: 24rpx;
                    color: #999999;
                    border: 1px dotted  #F4E65D;
                    .status-item{
                        margin-bottom: 10rpx;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        .value{
                            color: #666;
                        }
                    }
                }

                .loan-items {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    .item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 48%;
                        height: 107rpx;
                        padding-left: 22rpx;
                        margin-bottom: 20rpx;
                        border-radius: 10rpx;
                        // background-color: transparent;
                        background: #F7F9FD;
               
                        font-size: 22rpx;
                        box-sizing: border-box;
                        position: relative;

                        .tag-bg{

                            width: 100%;
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            top: 0;
                            z-index: -1;
                        }

                        .item-text {
                            line-height: 26rpx;
                            font-size: 26rpx;
                            color: #333333;
                        }

                        .item-rows {
                            line-height: 22rpx;
                            display: flex;
                            margin-top: 10rpx;

                            .blue {
                                color: #1F55EC;
                                font-size: 500;
                            }
                        }
                    }
                }
            }
        }
        .task-content{
            padding: 0 30rpx;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20rpx;
            height: 118rpx;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 0 20rpx rgba(0, 0, 0, 0.1);
            font-size: 26rpx;
            .right{
                text-align: center;
                width: 140rpx;
                height: 42rpx;
                border-radius: 40rpx;
                border: 1rpx solid #1F55EC;
                color: #1F55EC;
                font-size: 24rpx;
            }
        }

        .selected-product {
            margin-top: 44rpx;

            .title {
                line-height: 30rpx;
                margin-bottom: 20rpx;
                font-size: 30rpx;
                color: #333;
                font-weight: 600;
            }

            .soon-loan {
                padding: 35rpx 60rpx 35rpx 20rpx;
                background: #fff;
                border-radius: 10rpx;
                box-shadow: 0 0 20rpx rgba(0, 0, 0, 0.1);
                position: relative;
                margin-bottom: 10rpx;

                .icon-tag{
                    width: 120rpx;
                    position: absolute;
                    right: 0;
                    top: 0;
                    
                }

                .product-name {
                    display: flex;
                    align-items: center;
                    font-size: 26rpx;
                    color: #333;
                    font-weight: 500;

                    .find-text {
                        margin-left: 18rpx;
                        color: #1F55EC;
                    }

                    image {
                        width: 22rpx;
                        height: 22rpx;
                    }
                }

        
            }

                    .limit-money {
                    display: flex;
                    flex-direction: column;
                    margin-top: 40rpx;
                    color: #999;
                    font-size: 24rpx;

                    .apply-money {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 18rpx;

                        .money {
                            line-height: 48rpx;
                            font-weight: 600;
                            font-size: 48rpx;
                            color: #FE493D;
                        }

                        .register {
                            width: 160rpx;
                            height: 54rpx;
                            background: linear-gradient(125deg, #F7554A, #FE756C);
                            border-radius: 27px;
                        }
                    }

                }

            .loan-business-items {
                display: flex;
                justify-content: space-between;
                margin-top: 13rpx;

                .bus-item {
                    padding: 30rpx;
                    border-radius: 12rpx;
                    background: #fff;
                    box-shadow: 0 0 20rpx rgba(0, 0, 0, 0.1);
                    width: 45%;

                    .title {
                        line-height: 30rpx;
                        font-size: 26rpx;
                        color: #333;
                        font-weight: 500;
                    }
                    .limit-money{
                        margin-top: 18rpx;
                        color: #999;
                        font-size: 24rpx;
                        .money{
                            display: inline-block;
                            margin-top: 13rpx;
                            font-weight: 600;
                            line-height: 30rpx;
                            color: #333;
                            font-size: 30rpx;
                        }
                    }
                    .btn{
                        float: right;
                        margin-top: 13rpx;
                        height: 42rpx;
                        width: 110rpx;
                        color: #1F55EC;
                        border-radius: 22rpx;  
                    }

                    &:first-child {
                        margin-right: 10rpx;
                    }
                }
            }
        }
    }
    .introduction-content{
        position: relative;
        height: 240rpx;
        padding: 20rpx 25rpx;
        margin: 24rpx 0;
        box-sizing: border-box;
        .bg{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            height: 240rpx;
            width: 100%;
        }
        .title{
            font-size: 30rpx;
            color: #333;
            margin-bottom: 10rpx;
        }
        .intro-items{
            display: flex;
            align-content: center;
            justify-content: space-between;
            image{
                width: 322rpx;
                height: 140rpx;
            }
        }
    }
    .vig-items{
        display: flex;
        align-items: center;
        margin-bottom: 20rpx;
        image{
            height: 240rpx;
        }
        .vig-1{
            width: 240rpx;
            flex: 0 0 240rpx;
            margin-right: 20rpx;
        }
    }
    .service-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 44rpx;
        font-size: 22rpx;
        color: #BBBBBB;
    }
    .dialog-content{
        font-size: 24rpx;
        color: #666;
        text-indent: 2em;
        .guset{
            text-indent: 0;
        }
        .tip{
            margin: 10rpx 0;
            color: red;
        }
        .dialog-btn-cancel, .dialog-btn-confirm{
            font-size: 24rpx !important;
        }
        .confirmDisabled{
            color: #999;
            
        }
    }
    .rrrrr{
        pointer-events: none;
        color: #999 !important;
        font-size: 24rpx !important;
    }
    .dddd{
        color: #3683d6;
        font-size: 24rpx !important;
    }
    .cancel-text{
        font-size: 24rpx !important;
    }
}

.popup-u{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500rpx;
    height: 320rpx;
    padding-top: 60rpx;
    background: #fff;
    border-radius: 10rpx;
    box-sizing: border-box;
    .title{
        margin-bottom: 10rpx;
        font-size: 36rpx;
        font-weight: 600;
    }
    .text{
        font-size: 24rpx;
        color: #666;
    }
    .btn{
        width: 230rpx;
        height: 70rpx;
        margin-top: 50rpx;
        background-color: #1F55EC;
        border-radius: 40rpx;
    }
}